[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:jobin-nelson/my_nvim
[submodule "lab"]
	path = playground/lab
	url = git@github.com:Jobin-Nelson/lab.git
[submodule "nixos"]
	path = .config/nixos-config
	url = git@github.com:Jobin-Nelson/nixos-config.git
